@font-face {
  font-family: "roboto_condensed_bold";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "roboto_condensed_regular";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
}

.container .first-screen {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/photo_windows.jpg");
  background-size: cover;
  background-position: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  width: 100%;
  height: 740px;
}

.container .first-screen .item-wrapper {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin-top: 60px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border: 3px solid #000;
}

.container .first-screen .item-wrapper .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 260px;
      grid-template-columns: repeat(3, 1fr) 260px;
  -ms-grid-rows: 60px 60px 60px;
      grid-template-rows: 60px 60px 60px;
  border: 2px solid #000;
}

.container .first-screen .item-wrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #000;
}

.container .first-screen .item-wrapper .item_1 {
  background-color: #9d62dd;
}

.container .first-screen .item-wrapper .item_2 {
  background-color: #f78b48;
}

.container .first-screen .item-wrapper .item_3 {
  background-color: #589dc4;
}

.container .first-screen .item-wrapper .item_4 {
  grid-row: span 2;
  background: #FFFFFF;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-position: center;
}

.container .first-screen .item-wrapper .item_5 {
  background-color: #9ccc3d;
}

.container .first-screen .item-wrapper .item_6 {
  background-color: #df59ca;
}

.container .first-screen .item-wrapper .item_7 {
  background-color: #ffb54e;
}

.container .first-screen .item-wrapper .item_1,
.container .first-screen .item-wrapper .item_2,
.container .first-screen .item-wrapper .item_3,
.container .first-screen .item-wrapper .item_4,
.container .first-screen .item-wrapper .item_5,
.container .first-screen .item-wrapper .item_6,
.container .first-screen .item-wrapper .item_7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "roboto_condensed_bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container .first-screen .item-wrapper .item_8 {
  grid-column: 4 / -1;
  background-color: #df59ca;
  font-family: "roboto_condensed_regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 18px;
  color: #FFFFFF;
}

.container .first-screen .item-wrapper .item_9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .first-screen .item-wrapper .item_9 .text_1 {
  font-family: 'roboto_condensed_bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.container .first-screen .item-wrapper .item_9 .text_2 {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.container .first-screen .item-wrapper .item_10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #9d62dd;
}

.container .first-screen .item-wrapper .item_11 {
  grid-column: 4/-1;
}
